.servicios {
    background-color: $color_black;
    background-color: #262629;
    padding: 100px 0;
    color: #fff;
    .container {
        .title {
            @include title;
            margin-bottom: 0;
            text-align: center;
        }
        .subtitle {
            @include subtitle;
            text-align: center;
            margin-bottom: 60px;
        }
        .servicios-row {
            display: flex;
            justify-content: space-between;
            .servicios-item {
                .servicios-item-title {
                    @include gradientext;
                    margin-bottom: 20px;
                }
                ul {
                    padding-left: 0;
                }
                ul li {
                    list-style: none;
                }
            }
        }
    }
}